@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(224 242 254);
  --fg: rgb(63 63 70);
}

.writing-vertical {
  writing-mode: vertical-lr;
}

.slide {
  --i: 1;
  --slide-direction: slide-down;
  --duration: 1s;
  --stagger: 0.8s;
  --interval: calc(var(--duration) - var(--stagger));
  animation: var(--slide-direction) var(--duration)
    calc(var(--interval) * var(--i)) ease-out both;
}

@keyframes slide-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.reveal-right {
  color: transparent;
  background: linear-gradient(to right, var(--fg) 47%, transparent 60%);
  background-clip: text;
  background-size: 300% 100%;
  background-repeat: no-repeat;
  animation: reveal-right 4s 0.5s ease both;
}

@keyframes reveal-right {
  from {
    border-color: transparent;
    background-position: 100%;
  }
  to {
    background-position: 0%;
    border-color: var(--fg);
  }
}

.line {
  height: 1px;
  width: 100%;
  background: var(--fg);
  animation: line-reveal 3s 0.5s ease-out both;
}

@keyframes line-reveal {
  from {
    opacity: 0;
    clip-path: rect(50% 50% 50% 50%);
  }
  to {
    opacity: 0.2;
    clip-path: rect(0% 100% 100% 0%);
  }
}
