@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(224 242 254);
  --fg: rgb(63 63 70);
}

.writing-vertical {
  writing-mode: vertical-lr;
}

.cursor {
  position: fixed;
  z-index: 100;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border-width: 1px;
  border-color: yellow;
  transform: translate(var(--x), var(--y));
  transition: all ease-out;
  top: -36px;
  left: -36px;
  pointer-events: none;
}
.reveal-right {
  color: transparent;
  background: linear-gradient(to right, var(--fg) 47%, transparent 60%);
  background-clip: text;
  background-size: 300% 100%;
  background-repeat: no-repeat;
  animation: reveal-right 4s 0.5s ease both;
}

@keyframes reveal-right {
  from {
    border-color: transparent;
    background-position: 100%;
  }
  to {
    background-position: 0%;
    border-color: var(--fg);
  }
}
